.icon-style {
    width: 35px;
    height: 35px;
    margin: 0 5px 10px;
}

.social-log{
    width: 45px;
    height: 35px;
}

.link-button{
    display: flex;
    flex-direction: row;
}

.googl{
    margin-top: 1px;
}

.kep-login-facebook {
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
    width: 35px;
    height: 10px;
    cursor: pointer;
    display: inline-block;
    background-color: #FFFFFF !important;
    border: 0 !important;
    padding: 0;
    background: url('/static/imgs/fb.svg') no-repeat center;
}

.kep-login-facebook:hover {
    background: url('/static/imgs/fb-red.svg') no-repeat center;
}

.kep-login-facebook:focus{
    outline: 0;

}

.fb img {
    content: url('/static/imgs/fb.svg');
}

.fb img:hover {
    content: url('/static/imgs/fb-red.svg');
}

.gg img {
    content: url('/static/imgs/gg.svg');
}

.gg img:hover {
    content: url('/static/imgs/gg-red.svg');
}

.user-data {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

.user-data input {
    width: 180px;
    height: 42px;
    padding-left: 15px;
    margin-bottom: 30px;
    border: 1px solid #D4D9E2;
    outline: 0;
    box-sizing: border-box;
}

label {
    width: 50%;
    font-family: Roboto, sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 11px;
    letter-spacing: 1px;
    color: #434C5D;
    text-transform: uppercase;
}

input[placeholder] {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    border-radius: 0;
    color: #0f0f0f;
}

.input-height {
    height: 42px;
}

.user-data .has-error input {
    margin-bottom: 0;
}

.has-error input {
    border: 1px solid #D72130;
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
    .user-data input {
        width: 250px;
    }
}

@media only screen and (max-width: 499px) {
    .user-data input {
        width: 160px;
    }
}


@media only screen and (max-width: 768px) {
    .form {
        width: 90%;
    }

    label {
        margin-top: 20px;
        color: #FFFFFF;
    }

    .fb img {
        content: url('/static/imgs/fb-wh.svg');
    }

    .gg img {
        content: url('/static/imgs/gg-wh.svg');
    }

    .mobile-icon {
        display: flex;
        flex-direction: row;
        height: 20px;
    }
}